<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/images.css" class="rel">

<div class="row">
    <h1 class="text-center">Edit Campground</h1>

    <div class="col-6 offset-3">
        <form action="/campgrounds/<%= campground.id %>?_method=PUT" method="POST" enctype="multipart/form-data"
            class="validated-form" novalidate>
            <!-- Title -->
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="campground[title]" id="title"
                    value="<%= campground.title %>" required>
                <!-- Validation Success Text -->
                <div class="valid-feedback">
                    Looks good!
                </div>
                <!-- Validation Failure Text -->
                <div class="invalid-feedback">
                    Please choose a Campground title.
                </div>
            </div>

            <!-- Price -->
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" name="campground[price]" id="price"
                        value="<%= campground.price %>" aria-label="Campground Price" required>
                </div>
                <!-- Validation Success Text -->
                <div class="valid-feedback">
                    Looks good!
                </div>
                <!-- Validation Failure Text -->
                <div class="invalid-feedback">
                    Please choose a Campground Price.
                </div>
            </div>

            <!-- Image -->
            <div>
                <label for="image" class="form-label">Add Image(s)</label>
                <div class="form-file custom-file">
                    <input class="form-control custom-file-input" type="file" id="image" name="image" multiple
                        onchange="previewMultiple(event)">
                    <label for="image" class="form-label custom-file-label"></label>
                </div>
                <div id="formFile"></div>
            </div>

            <!-- Location -->
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" name="campground[location]" id="location"
                    value="<%= campground.location %>" required>
                <!-- Validation Success Text -->
                <div class="valid-feedback">
                    Looks good!
                </div>
                <!-- Validation Failure Text -->
                <div class="invalid-feedback">
                    Please choose a Campground Location.
                </div>
            </div>

            <!-- Description -->
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="campground[description]" id="description" rows="3"
                    required><%= campground.description %></textarea>
                <!-- Validation Success Text -->
                <div class="valid-feedback">
                    Looks good!
                </div>
                <!-- Validation Failure Text -->
                <div class="invalid-feedback">
                    Please choose a Campground Description.
                </div>
            </div>

            <!-- Section for Deleting Existing Images -->
            <section class="mb-3">
                <h6>Delete Images: </h6>
                <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
                    <% campground.images.forEach((image, index) => { %>
                    <div class="col">
                        <div class="card">
                            <label for="image-<%= index %>">
                                <img class="card-img" src="<%= image.thumbnail %>" alt="">
                                <div class="card-img-overlay text-end pt-1 pe-2">
                                    <input class="form-check-input" type="checkbox" name="deleteImages[]"
                                        value="<%= image.filename %>" id="image-<%= index %>">
                                </div>
                            </label>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </section>

            <!-- Update Button -->
            <button type="submit" class="btn btn-success">Update</button>
        </form>

        <!-- Back Button -->
        <div class="mb-3 offset-4">
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">Back to Campground</a>
        </div>
    </div>
</div>